# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [112]:
import numpy as np
import pandas as pd
insurance_df= pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
insurance_df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
# Your code herewe casn use string methods
#df.columns= maybe list comprenhension to every colum
#df.columns=col.lower()
#st column esta en 2 asique habra que averiguar como hacerlo
import numpy as np
import pandas as pd
insurance_df= pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

insurance_df.columns = insurance_df.columns.str.lower().str.replace(' ', '_')
insurance_df = insurance_df.rename(columns={'st': 'state'})
insurance_df

#with function (function that put column names in lowercase, replaces whithe espaces by _ and change  st to state
def clean_column_names(df):
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    df = df.rename(columns={'st': 'state'})
    return df
insurance_df = clean_column_names(insurance_df)
insurance_df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [116]:

print(insurance_df['gender'].unique())
print(insurance_df['state'].unique()) 
print(insurance_df['education'].unique())
print(insurance_df['customer_lifetime_value'].unique())
print(insurance_df['vehicle_class'].unique())

# Function to clean gender
def clean_gender(gender):
    if pd.isna(gender):
        return gender
    if isinstance(gender, str):
        if gender.lower() in ['f', 'female', 'femal']:
            return 'F'
        elif gender.lower() in ['m', 'male']:
            return 'M'
    return gender

# Function to clean state
def clean_state(state):
    state_dict = {'AZ': 'Arizona','Cali': 'California','WA': 'Washington'}
    return state_dict.get(state, state)

# Function to clean education
def clean_education(education):
    if education == 'Bachelors':
        return 'Bachelor'
    else:
        return education

# Function to clean customer lifetime value
def clean_customer_lifetime_value(clv):
    if isinstance(clv, str) and '%' in clv:
        return float(clv.replace('%', '')) / 100
    return clv

# Function to clean vehicle class
def clean_vehicle_class(vehicle_class):
    if vehicle_class in ['Sports Car', 'Luxury SUV', 'Luxury Car']:
        return 'Luxury'
    return vehicle_class

insurance_df['gender'] = insurance_df['gender'].apply(clean_gender)
insurance_df['state'] = insurance_df['state'].apply(clean_state)
insurance_df['education'] = insurance_df['education'].apply(clean_education)
insurance_df['customer_lifetime_value'] = insurance_df['customer_lifetime_value'].apply(clean_customer_lifetime_value)
insurance_df['vehicle_class'] = insurance_df['vehicle_class'].apply(clean_vehicle_class)

print(insurance_df.head())

[nan 'F' 'M' 'Femal' 'Male' 'female']
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
[nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]
  customer       state gender             education  customer_lifetime_value  \
0  RB50392  Washington    NaN                Master                      NaN
1  QZ44356     Arizona      F              Bachelor                6979.5359
2  AI49188      Nevada      F              Bachelor               12887.4317
3  WW63253  California      M              Bachelor                7645.8618
4  GA49547  Washington      M  High School or Below                5363.0765

    income  monthly_premium_auto number_of_open_complaints     policy_type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [118]:


# Function to clean the customer lifetime value
def clean_customer_lifetime_value(value):
    if isinstance(value, str) and '%' in clv:
        return float(clv.replace('%', '')) / 100
    return float(value)

# Function to clean the number of open complaints
def clean_number_of_open_complaints(complaints):
    if pd.isna(complaints):
        return 0
    if isinstance(complaints, str):
        parts = complaints.split('/')
        if len(parts) > 1:
            return int(parts[1]) 
    return int(complaints)


insurance_df['customer_lifetime_value'] = insurance_df['customer_lifetime_value'].apply(clean_customer_lifetime_value).astype(float)
insurance_df['number_of_open_complaints'] = insurance_df['number_of_open_complaints'].apply(clean_number_of_open_complaints).astype(int)

print(insurance_df.dtypes)
print(insurance_df.head())

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints      int64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object
  customer       state gender             education  customer_lifetime_value  \
0  RB50392  Washington    NaN                Master                      NaN
1  QZ44356     Arizona      F              Bachelor                6979.5359
2  AI49188      Nevada      F              Bachelor               12887.4317
3  WW63253  California      M              Bachelor                7645.8618
4  GA49547  Washington      M  High School or Below                5363.0765

    income  monthly_premium_auto  number_of_open_complaints     policy_type  \
0      0.0                1000.0                          0   Personal Auto
1      0.0                  94.0                          0   Personal Auto
2  48767.0                 108.0                          0   Personal Auto
3      0.0                 106.0                          0  Corporate Auto
4  36357.0                  68.0                          0   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [158]:
# Check for null values in the dataset
null_values = insurance_df.isnull().sum()
print("Null values per column before dropping rows with nulls:\n", null_values)

# Count rows with any null values
rows_with_nulls = insurance_df.isnull().any(axis=1).sum()
print(f"Total rows: {len(insurance_df)}")
print(f"Rows with any null values: {rows_with_nulls}")

# Check for rows where all values are null
all_null_rows = insurance_df.isnull().all(axis=1)
rows_all_null = all_null_rows.sum()
print(f"Total rows: {len(insurance_df)}")
print(f"Rows where all values are null: {rows_all_null}")

# Identify rows where all columns except 'number_of_open_complaints' are null and drop them
columns_to_check = insurance_df.columns.difference(['number_of_open_complaints'])
all_except_complaints_null = insurance_df[columns_to_check].isnull().all(axis=1)
rows_all_except_complaints_null = all_except_complaints_null.sum()
print(f"Total rows: {len(insurance_df)}")
print(f"Rows where all values except 'number_of_open_complaints' are null: {rows_all_except_complaints_null}")
insurance_df_cleaned = insurance_df[~all_except_complaints_null]

# Verify that rows with all null values except 'number_of_open_complaints' are dropped
null_values_after = insurance_df_cleaned.isnull().sum()
print("\nNull values per column after dropping rows with all nulls except 'number_of_open_complaints':\n", null_values_after)
print(f"Total rows after dropping rows with all nulls except 'number_of_open_complaints': {len(insurance_df_cleaned)}")

# Fill remaining null values in 'gender' with unknown and in 'customer_lifetime_value' with the mean
insurance_df_cleaned['gender'] = insurance_df_cleaned['gender'].fillna('unknown')
mean_clv = insurance_df_cleaned['customer_lifetime_value'].mean()
insurance_df_cleaned['customer_lifetime_value'] = insurance_df_cleaned['customer_lifetime_value'].fillna(mean_clv)

# Convert all numerical columns to integers (make sure that first there are no remaining nulls)
numerical_columns = insurance_df_cleaned.select_dtypes(include=['float64', 'int64']).columns
insurance_df_cleaned[numerical_columns] = insurance_df_cleaned[numerical_columns].fillna(0)  
insurance_df_cleaned[numerical_columns] = insurance_df_cleaned[numerical_columns].astype(int)

# Verify value type
print("\nData types after conversion to int:\n", insurance_df_cleaned.dtypes)
print("\nSample data:\n", insurance_df_cleaned.head())

# Save dataset to a new CSV file

insurance_df_cleaned.to_csv("cleaned_insurance_data.csv", index=False)
insurance_df2 = insurance_df_cleaned

Null values per column before dropping rows with nulls:
 customer                     2937
state                        2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints       0
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64
Total rows: 4008
Rows with any null values: 3056
Total rows: 4008
Rows where all values are null: 0
Total rows: 4008
Rows where all values except 'number_of_open_complaints' are null: 2937

Null values per column after dropping rows with all nulls except 'number_of_open_complaints':
 customer                       0
state                          0
gender                       117
education                      0
customer_lifetime_value        3
income                         0
monthly_premium_auto           0
number_of_open_complaints      0
policy_type                    0
vehicle_class                  0
total_claim_amount             0
dtype: int64
Total rows after dropping rows with all nulls except 'number_of_open_complaints': 1071

Data types after conversion to int:
 customer                     object
state                        object
gender                       object
education                    object
customer_lifetime_value       int64
income                        int64
monthly_premium_auto          int64
number_of_open_complaints     int64
policy_type                  object
vehicle_class                object
total_claim_amount            int64
dtype: object

Sample data:
   customer       state   gender             education  \
0  RB50392  Washington  unknown                Master
1  QZ44356     Arizona        F              Bachelor
2  AI49188      Nevada        F              Bachelor
3  WW63253  California        M              Bachelor
4  GA49547  Washington        M  High School or Below

   customer_lifetime_value  income  monthly_premium_auto  \
0                     7936       0                  1000
1                     6979       0                    94
2                    12887   48767                   108
3                     7645       0                   106
4                     5363   36357                    68

   number_of_open_complaints     policy_type  vehicle_class  \
0                          0   Personal Auto  Four-Door Car
1                          0   Personal Auto  Four-Door Car
2                          0   Personal Auto   Two-Door Car
3                          0  Corporate Auto            SUV
4                          0   Personal Auto  Four-Door Car

   total_claim_amount
0                   2
1                1131
2                 566
3                 529
4                  17

/var/folders/yl/d5x0r6t10l52bms12sy70rzc0000gn/T/ipykernel_13312/590799061.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  insurance_df_cleaned['gender'] = insurance_df_cleaned['gender'].fillna('unknown')
/var/folders/yl/d5x0r6t10l52bms12sy70rzc0000gn/T/ipykernel_13312/590799061.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  insurance_df_cleaned['customer_lifetime_value'] = insurance_df_cleaned['customer_lifetime_value'].fillna(mean_clv)
/var/folders/yl/d5x0r6t10l52bms12sy70rzc0000gn/T/ipykernel_13312/590799061.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  insurance_df_cleaned[numerical_columns] = insurance_df_cleaned[numerical_columns].fillna(0)
/var/folders/yl/d5x0r6t10l52bms12sy70rzc0000gn/T/ipykernel_13312/590799061.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  insurance_df_cleaned[numerical_columns] = insurance_df_cleaned[numerical_columns].astype(int)

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [170]:
# Check for duplicate rows
duplicate_rows = insurance_df2.duplicated().sum()
print(f"Duplicate rows before handling: {duplicate_rows}")

#No duplicaded rows

Duplicate rows before handling: 0

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [29]:
#rite these functions in separate .py file(s) - he recomends to downloaw sublime.text(resources) allows you to type code in python is free - add to docker after instaltion. then you star with your function code etc, returm amd them - file- save asfunctions.py - importantant and save in the same folder as jupite notebooks and will be our library.

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [32]:
# Your code here